/Nox/.idea/
/Nox/Network/target/
/Nox/Network/bin/
/Nox/Provider/target/
/Nox/Provider/bin/
/Nox/Core/target/
/Nox/Core/wz/
/Nox/wz/
/Nox/Core/logs/
/Nox/Core/bin/
/Cellion/.idea/
/Cellion/Network/target/
/Cellion/Network/bin/
/Cellion/Provider/target/
/Cellion/Provider/bin/
/Cellion/Core/target/
/Cellion/Core/wz/
/Cellion/wz/
/Cellion/Core/logs/
/Cellion/Core/bin/
/bin/
*.iml
*.jar
Nox/Core/database.properties