/Nox/.idea/
/Nox/Network/target/
/Nox/Network/bin/
/Nox/Provider/target/
/Nox/Provider/bin/
/Nox/Core/target/
/Nox/Core/wz/
/Nox/Core/logs/
/Nox/Core/bin/
/bin/
*.iml
*.jar
Nox/Core/database.properties
